<div class='row around-xs'>
    <div class='col-xs-auto'>
        <a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-info-outline zmd-2x'></i><strong>Про ППК</strong></a>
    </div>
    <div class='col-xs-auto'>
        <a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-accounts-outline zmd-2x'></i><strong>Спільнота</strong></a>
    </div>
    <div class='col-xs-auto'>
        <a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-fire zmd-2x'></i><strong>Новини</strong></a>
    </div>
    <div class='col-xs-auto'>
        <a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false' onclick="navigator.app.exitApp();"><i class='zmdi zmdi-close zmd-2x'></i><strong>Закрити</strong></a>
    </div>
</div>