<!-- panel left -->
<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

    <div class='nd2-sidepanel-profile wow fadeInDown'>
        <!--img class='profile-background' src="//lorempixel.com/400/200/abstract/2/" /-->
        <div class="row">
            <div class='col-xs-4 center-xs'>
                <div class='box'>
                    <img class="profile-thumbnail" src="https://lh3.googleusercontent.com/d/0BweuCDmGnAnNZDJYUVlYbFFSUVk" />
                </div>
            </div>
            <div class='col-xs-8'>
                <div class='box profile-text'>
                    <strong>ППК НТУ "ХПІ"</strong>
                    <span class='subline'>Полтавський політехнічний коледж</span>
                </div>
            </div>
        </div>
    </div>

    <ul data-role="listview" data-inset="false">
        <li><a href="/elements/pages/ann.html" data-ajax='false' data-icon="false">АНОТАЦІЯ</a></li>
        <li data-role="list-divider">Зміст дисципліни</li>
    </ul>
    <div data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
        <h3>ТЕОРЕТИЧНІ ВІДОМОСТІ</h3>
        <ul data-role="listview" data-inset="false" data-icon="false">
            <li><a href="/elements/pages/l1.html" data-ajax='false' data-icon="false">Лекция 1. Введение. Анализ алгоритмов. Качество. Оценка временных затрат</a></li>
            <li><a href="/elements/pages/l2.html" data-ajax='false' data-icon="false">Лекция 2. Работа с массивами. Сортировки и поиск. Простые алгоритмы сортировок</a></li>
            <li><a href="/elements/pages/l3.html" data-ajax='false' data-icon="false">Лекция 3. Усовершенствованные алгоритмы сортировки</a></li>
            <li><a href="/elements/pages/l4.html" data-ajax='false'>Лекция 4. Рекурсия</a></li>
            <li><a href="/elements/pages/l5.html" data-ajax='false'>Лекция 5. Динамические структуры данных</a></li>
            <li><a href="/elements/pages/l6.html" data-ajax='false'>Лекция 6. Общие правила и рекомендации к разработке собственных контейнерных структур данных</a></li>
            <li><a href="/elements/pages/l7.html" data-ajax='false'>Лекция 7. Деревья. Основные алгоритмы над деревьями</a></li>
            <li><a href="/elements/pages/l8.html" data-ajax='false'>Лекция 8. Графы и их основные сферы применения в информатике</a></li>
            <li><a href="/elements/pages/l9.html" data-ajax='false'>Лекция 9. Классические задачи программирования</a></li>
            <li><a href="/elements/pages/l10.html" data-ajax='false'>Лекция 10. Порождение и перебор комбинаторных объектов</a></li>
            <li><a href="/elements/pages/l11.html" data-ajax='false'>Лекция 11. Рекуррентные уравнения. Динамическое программирование</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
        <h3>ЛАБОРАТОРНІ ТА ПРАКТИЧНІ РОБОТИ</h3>
        <ul data-role="listview" data-icon="false">
            <li><a href="/examples/extended/tabs.html" data-ajax='false'>ПЗ 1. Использование средств двунаправленных динамических списков и общие принципы проектирования контейнеров</a></li>
            <li><a href="/examples/extended/cards.html" data-ajax='false'>ПЗ 2. Простейшие алгоритмы сортировок (сортировка методом пузырька, вставки, выборки)</a></li>
            <li><a href="/examples/extended/search.html" data-ajax='false'>ПЗ 3. Проектирования контейнеров и собственных структур данных</a></li>
            <li><a href="/examples/extended/icons.html" data-ajax='false'>ПЗ 4. Рекурсия и ее применение</a></li>
            <li><a href="/examples/extended/charts.html" data-ajax='false'>ПЗ 5. Поиск и усовершенствованные алгоритмы сортировки</a></li>
            <li><a href="/examples/extended/toasts.html" data-ajax='false'>ПЗ 6. Усовершенствованные алгоритмы сортировок</a></li>
            <li><a href="/examples/extended/bottomsheet.html" data-ajax='false'>ПЗ 7. Исключения и рекурсия</a></li>
            <li><a href="/examples/extended/bottomsheet.html" data-ajax='false'>ПЗ 8. Простейшие алгоритмы сортировки: сортировка методом прямого обмена, прямой выборкой и вставкой</a></li>
            <li><a href="/examples/extended/bottomsheet.html" data-ajax='false'>ПЗ 9. Динамические структуры данных (стек, очередь)</a></li>
            <li><a href="/examples/extended/bottomsheet.html" data-ajax='false'>ПЗ 10. Создание и использование контейнеров – классов, которые служат для хранения и управления множеством объектов</a></li>
            <li><a href="/examples/extended/bottomsheet.html" data-ajax='false'>ПЗ 11. Работа с деревьями</a></li>
        </ul>
    </div>    
    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
        <h3>КОНТРОЛЬ ЗНАНЬ</h3>
        <ul data-role="listview" data-icon="false">
            <li><a href="/examples/pages/profile.html" class="ui-disabled" data-ajax='false'>Питання для екзамену</a></li>
            <li><a href="/examples/pages/dashboard.html" class="ui-disabled" data-ajax='false'>Завдання для екзамену</a></li>
            <li><a href="/examples/pages/gallery.html" class="ui-disabled" data-ajax='false'>Екзаменаційний тест</a></li>
        </ul>
    </div>
    <hr class="inset">
    <ul data-role="listview" data-inset="false">
        <li data-role="list-divider">Інформація</li>
    </ul>
    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
        <h3>Література</h3>
        <ul data-role="listview" data-icon="false">
            <li><a href="/info/colors_and_styles.html" data-ajax='false'>Першоджерело</a></li>
            <li><a href="/info/credits.html" data-ajax='false'>Додаткові джерела</a></li>
        </ul>
    </div>
    <hr class="inset">
    <ul data-role="listview" data-inset="false">
        <li><a href="/pages/ann.html" data-ajax='false' data-icon="false">САЙТ ППК</a></li>
        <li><a href="/pages/ann.html" data-ajax='false' data-icon="false">ПРО АВТОРА</a></li>        
    </ul>
</div>
<!-- /panel left -->
